<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label color="light" position="floating">Nom d'utilisateur <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input color="light" required formControlName="username" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="light" position="floating">Mot de passe
    </ion-label>
    <ion-input color="light" required formControlName="password" type="password" (keyup.enter)="onSubmit()"></ion-input>
  </ion-item>
  <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
    Se connecter
  </ion-button>
  <ion-item *ngIf="loginForm.errors" lines="none">
    <ion-text color="danger" class="form-error">
      Nom d'utilisateur ou mot de passe invalide
    </ion-text>
  </ion-item>
</form>
