<app-process-header></app-process-header>

<ion-content>

  <!-- Faire un panneau latéral avec la liste des process puis panneau centrale avec le process en détails -->
  <ion-split-pane content-id="menu-content">
    <ion-menu content-id="menu-content" menuId="menu-content" side="start" type="push">
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-buttons slot="start">
            <ion-button (click)="newProcessClick()">
              <ion-icon slot="start" name="add"></ion-icon>
              Créer un process
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-process-list></app-process-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>

</ion-content>
