<ion-header>
  <ion-toolbar>
    <ion-title>Les process</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="newProcessClick()">
        <ion-icon slot="start" name="add"></ion-icon>
        Créer un process
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div *ngFor="let process of processes$ | async">
    <!-- TODO voir pour ajouter un type article pour pouvoir découler la designation -->
    {{process.article}}
  </div>
</ion-content>
